In [1]:
# string Initization

s1='python programming'
print(s1)
print(type(s1))

python programming
<class 'str'>

In [2]:
# string Initization

s2="Data Analyst Internship"
print(s2)
print(type(s2))

Data Analyst Internship
<class 'str'>

In [3]:
# string Initization

s3=''' Data analyst internship
        using python programming
            by APSSDC'''
print(s3)
print(type(s3))

 Data analyst internship
        using python programming
            by APSSDC
<class 'str'>

In [4]:
#String concatination

str1=input("Enter first string")
str2=input("Enter second string")
print(str1+str2)
print(str1,str2)

Enter first stringSurya
Enter second stringTeja
Surya Teja
Surya  Teja

In [5]:
# string repetetion

s="python "
print(s*4 ,end=" ")

python python python python

In [6]:
# To print the each character using forloop..

s='Python programming'
for i in s:
    print(i,end=" ")

P y t h o n   p r o g r a m m i n g

In [7]:
# to print the ascii value of a given character?

print(ord('A'))

65

In [8]:
# to print the character of given ascii value?

print(chr(67))

C

### indexing and slicing

* Indexing
    * To get the single character.
    * Two types of indexing
        * Farward indexing - starts from 0 to size-1
        * backward indexing - starts from -1
 *example :
        * -5 -4 -3 -2 -1  -> backward indexing
        *  S U R Y A  -> string
        *  0 1 2 3 4  -> farward indexing
          
* Slicing
     * To get the sequence of a character.
     * [ start : stop : step]
     * start value is : 0 ->
     * stop value is : size-1
     * step valuw is : 1

In [9]:
#indexing and slicing

s1= 'Data Analysis Internship'
print(s1[3])
print(s1[0])
print(s1[-9])
print(s1[8:])
print(s1[::])
print(s1[::-1])
print(s1[::2])

a
D
n
lysis Internship
Data Analysis Internship
pihsnretnI sisylanA ataD
Dt nlssItrsi

In [10]:
# TO read a string and swap the frist and last character

str=input("Enter a string : ")
print(str)
print(len(str))
print(str[-1]+str[1:len(str)-1]+ str[0])

Enter a string : Surya
Surya
5
auryS

In [11]:
# to read a string and then print ascii value of each character

str=input("Enter a string : ")
for i in str:
    print(i,'-->',ord(i))

Enter a string : Python
P --> 80
y --> 121
t --> 116
h --> 104
o --> 111
n --> 110

## String methods

In [12]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [13]:
# To convert the first charcater into uppercase of a string

s="surya"
print(s.capitalize())

Surya

In [14]:
# TO convert the strinf into lowercase
s1='PYTHON'
print(s1.lower())
print(s1.casefold())

python
python

In [15]:
# To convert the string into uppercase

s2='surya'
print(s2.upper())

SURYA

In [16]:
# TO convert the string into lowercase becomes uppercase and viceversa

s3='Surya Teja'
print(s3.swapcase())

sURYA tEJA

In [17]:
# To convert firsr character of each word into uppercase?
s4='durga surya teja'
print(s4.title())

Durga Surya Teja

In [18]:
# To remove the white spaces

s5="     Teja    "
print(s5.strip()) # both left and right side
print(s5.lstrip()) #left side
print(s5.rstrip()) # right side

Teja
Teja
     Teja

In [19]:
#translate() method 

d={83:65}
s6="Hello APSSDC"
print(s6.translate(d))

Hello APAADC

In [20]:
s7='Python'

r=str.maketrans('t','T')
print(s7.translate(r))

PyThon

In [21]:
#split():
s8="Data analyst using python programming"
print(s8.split())

['Data', 'analyst', 'using', 'python', 'programming']

In [22]:
s9='apple,banana,mango,orange'
print(s9.split(','))

['apple', 'banana', 'mango', 'orange']

In [23]:
#to count the number of words of given string

s10="Data analyst using python programming"
print(len(s10.split()))

5

In [24]:
#To convert each word into uppercase

s11="Data analyst using python programming"
for i in s11.split():
    print(i.upper())

DATA
ANALYST
USING
PYTHON
PROGRAMMING

In [25]:
# to count the character frequency

s12="Data analyst using python programming"
print(s12.count('a'))

5

In [26]:
print(s12.index('a'))

1

In [27]:
s12="Data analyst using python programming"
ch=input("Enter character : ")
for i in range(0,len(s12)-1):
    if s12[i]==ch:
        print(i)

Enter character : p
19
26

In [30]:
# name starts with a character 'm' of given string

s13=" raju madhulatha rajessh nethra mani nani aadhya"
for i in s13.split():
    if(s13.startswith('m')):
        print(i)

In [ ]:
# to print the each character frequnecy of a given string

s12="Data analyst using python programming"