###  Create link to an image

download image and save with the extension in the same location

In [1]:
### comments

# -> single line comment
""" Multi
            Line
                 Comments"""

' Multi\n            Line\n                 Comments'

### data types

In [3]:
a=12
type(a)

int

In [5]:
name="Surya"
print(type(name))
ch='x'
print(type(ch))
b=10.9
print(type(b))

<class 'str'>
<class 'str'>
<class 'float'>

In [6]:
x=4+5j
type(x)

complex

In [7]:
c=True
type(c)

bool

#variables

   Variable can store data of different types

In [9]:
val=900

### Type Casting

 converting one data type into other type

In [12]:
x=input("Enter a value : ")
print(x)
type(x)

Enter a value : 45
45

str

In [13]:
x=input("Enter a value : ")
y=int(x)
print(y)
print(type(y))

Enter a value : 34
34
<class 'int'>

In [14]:
# float to int

a=908.7
b=int(a)
print(b)
print(type(b))

908
<class 'int'>

In [15]:
"908"+"890" # concatenation

'908890'

In [16]:
908+890

1798

In [17]:
"name"+"908"

'name908'

In [18]:
"super"+30

TypeError: can only concatenate str (not "int") to str

### Operators

* Arithmetic operators( +,-,*,/,//,% )
* Assignment operators( =,+=,-=,*=,%=,/=,//= )
* Comparision operators( ==,<=,>=,<,>,!= )
* Logical operators( and,or,not )
* Bitwise Operators
* Identity operator
* Membership operator

### Arithmetic Operators

* + -> Addition of two values
* - -> Difference of two values
* * -> Multiplication of two values
* / -> Divsion of two values which gives exact values
* // -> Division of two values which gives integer part only
* % -> Division of two values which gives only the remainder

### Logical Operators

* and returns True if both the statements are true otherwise false.
    eg: x<5 and x<10
* or returns True if one of the statement is true.
    eg: x<5 or x<10
* not

In [19]:
# and

a=8
a<80 and a>6

True

In [20]:
a<90 and a>10

False

In [21]:
# or

a<78 or a>90

True

In [22]:
a>80 or a<5

False

In [23]:
# not

b=90 
b>80

True

In [24]:
not(b>80)

False

### Comparision Operators

In [32]:
x=90
y=89
x>y

True

In [33]:
x<y

False

In [34]:
x==y

False

In [35]:
x>=y

True

In [36]:
x<=y

False

In [37]:
x!=y

True

### Assignment Operators

* Used to assign values to variables

In [40]:
x=45
y=40
z=5
w=32
a=50
x+=5
y-=10
z*=5
w/=8
a%=10
print(x)
print(y)
print(z)
print(w)
print(a)

50
30
25
4.0
0

### Bitwise Operators

* Bitwise AND
* Bitwise OR
* Bitwise Leftshift
* Bitwise Rightshift
* Bitwise not

In [41]:
a=2  # 2 -> 0010
b=3  # 3 -> 0011

a&b

2

In [42]:
c=4  # 4 -> 0100
d=5  # 5 -> 0101

c|d  # 4|5 -> 0101

5

In [43]:
bin(5)

'0b101'

In [45]:
# 10 -> 1010

10<<2 -> 101000

40

In [48]:
# 10 -> 1010

10>>2 -> 10

2

In [49]:
## tild(~)  -(n+1)
c=9
~c

-10