### Dictionary:
    
    - It is collection of key-value pairs.
    - In dictionary key names are unique.
    - By using curly brackets we can write the dictionary in python.
    - To access the dictionary values by using only keynames.
    - It is mutable

In [1]:
# to create the empty dictionary
d1=dict()
print(d1)
print(type(d1))

{}
<class 'dict'>

In [9]:
# to create the dictionary with items(keyname,value)

d2={'Name':'krishna','Rollno':370,'Branch':'CSE'}
print(d2)
print(type(d2))

{'Name': 'krishna', 'Rollno': 370, 'Branch': 'CSE'}
<class 'dict'>

In [3]:
# digit keynames

d3={1:110,2:370,3:456,3:500}
print(d3)

{1: 110, 2: 370, 3: 500}

In [4]:
# to create a dictionary with different data types
d4={'a':100,'b':'python','c':34.67}
print(d4)

{'a': 100, 'b': 'python', 'c': 34.67}

In [7]:
# accessing the data through key names
print(d2)
print(d2['Name'])
print(d4['b'])

{'Name': 'krishna', 'Roolno': 370, 'Branch': 'CSE'}
krishna
python

In [10]:
print(d2)
d2['Rollno']=375
print(d2)

{'Name': 'krishna', 'Rollno': 370, 'Branch': 'CSE'}
{'Name': 'krishna', 'Rollno': 375, 'Branch': 'CSE'}

In [11]:
# dictionary methods

print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [12]:
d1[1]='0222'
print(d1)

{1: '0222'}

In [13]:
# keys(): -- to get the key names froma dictionary.
print(d2)
print(d2.keys())

{'Name': 'krishna', 'Rollno': 375, 'Branch': 'CSE'}
dict_keys(['Name', 'Rollno', 'Branch'])

In [14]:
# values(): -- to get the dictionary values.

print(d2.values())

dict_values(['krishna', 375, 'CSE'])

In [ ]:
# items() --

In [15]:
## copy() 

print(d2)
d5=d2.copy()
print(d5)

{'Name': 'krishna', 'Rollno': 375, 'Branch': 'CSE'}
{'Name': 'krishna', 'Rollno': 375, 'Branch': 'CSE'}

In [16]:
# get(): -- to get the value of specific keyname.

print(d2)
print(d2.get('Name'))

{'Name': 'krishna', 'Rollno': 375, 'Branch': 'CSE'}
krishna

In [ ]:
# setdefault() -- to add new item to the end of the dictionary

In [19]:
#update(): -- to update the any data.
print(d2)
d2.update({'Branch':'ECE'})
print(d2)
d2.update({'Course':'Data analyst'})
print(d2)

{'Name': 'krishna', 'Rollno': 375, 'Branch': 'ECE'}
{'Name': 'krishna', 'Rollno': 375, 'Branch': 'ECE'}
{'Name': 'krishna', 'Rollno': 375, 'Branch': 'ECE', 'Course': 'Data analyst'}

In [21]:
#pop(): -- to delete an item from dictionary using keyname.
print(d2)
print(d2.pop('Course'))
print(d2)

{'Name': 'krishna', 'Rollno': 375, 'Branch': 'ECE', 'Course': 'Data analyst'}
Data analyst
{'Name': 'krishna', 'Rollno': 375, 'Branch': 'ECE'}

In [27]:
#popitem(): -- to delete last item from a dictionary.
d2={'Name':'krishna','Rollno':370,'Branch':'CSE'}
print(d2)
d2.popitem()
print(d2)

{'Name': 'krishna', 'Rollno': 370, 'Branch': 'CSE'}
{'Name': 'krishna', 'Rollno': 370}

In [30]:
#fromkeys(): -- to create new dictionary with keynames..

dict1=dict.fromkeys(['Sname','Srollno','Sbranch'])
print(dict1)
dict1['Sname']="Surya"
print(dict1)

{'Sname': None, 'Srollno': None, 'Sbranch': None}
{'Sname': 'Surya', 'Srollno': None, 'Sbranch': None}

In [31]:
#clear(): -- to clear all the data

print(d2)
d2.clear()
print(d2)

{'Name': 'krishna', 'Rollno': 370}
{}

In [41]:
d6={1:24,2:55,3:19,4:89,5:33,6:13}

# to print the even keynames item.
d3={}
for i,j in d6.items():
    if j%2 == 0:
        d3[i]=j
print(d3)

{1: 24}

In [42]:
# to read one string and then print the character frequency
# to read the list of string element and then print the length of each string
# input: L=['python','programming','java','SQL']
#output: d1={'python':6}

### nested dictionaries:
    - Dictionary can contain dictionaries.

In [43]:
#nested dictionaries with example

clg={
    'btech':{
        'name':'aadyan',
        'Rollno':'370',
        'branch':'CSE'},
    'MBA':{
        'Name':'Surya',
        'rollno':'357',
        'branch':'business application'
    }
}
print(clg)

{'btech': {'name': 'aadyan', 'Rollno': '370', 'branch': 'CSE'}, 'MBA': {'Name': 'Surya', 'rollno': '357', 'branch': 'business application'}}

In [44]:
# to access the data from nested dictionaries:

print(clg['btech']['name'])

aadyan

In [ ]:
i=1
while i<=10