In [5]:
#to store the mutiple student records..

student={'name':['madhu','lalitha','nethra'],'rollno':[510,370,230],'branch':['CSE','ECE','CSE']}
print(student['name'])
print(student)
print(student['name'][1])
student['rollno'][0]=440
print(student)

['madhu', 'lalitha', 'nethra']
{'name': ['madhu', 'lalitha', 'nethra'], 'rollno': [510, 370, 230], 'branch': ['CSE', 'ECE', 'CSE']}
lalitha
{'name': ['madhu', 'lalitha', 'nethra'], 'rollno': [440, 370, 230], 'branch': ['CSE', 'ECE', 'CSE']}

### Fuctions:
    - funtcion is a group of statements.
    - It can be perform the specific task.
    - 
    
    
 -*uses:*
      - code reusability.
      - easy to code debugging.
 -*syntax: 
      def function_name(argument_list): # function definiton
          statements
          return output
          
- *how to call a function:*
        function_name(input_arguments) # function calling
        
  - function name starts with keyword, inbuilt functions.
  - function name should not allow the space in the middle of function.
 
 #### Two types of functions:
     - 1. pre-defined functions
     - 2. user- define sunctions.
     - 4.types of user define functions:
         - 1. function with arguments and with return values.
         - 2. function with arguments and with out return values.
         -3. function with out arguments and with return values.
         - 4. function with out arguments and without return values.

### 1. with arguments and with return values..

     def function_name(argument_lists):
         statements
         return results

In [6]:
## to print the first digit of a given number?
#input: n=4345
#output: 4

def first_digit(n):
    while(n>=10):
        n=n//10
    return n
n1=int(input("Enter n value : "))
first_digit(n1)

Enter n value : 2435

2

#### 2. with arguments and without return values..
    def function_name(argument_lists):
        statements
        print(output)

In [7]:
# TO find the biggest of three numbers?
def biggest_three(a,b,c):
    if (a>b and a>c):
        print("biggest value is a:",a)
    elif(b>c):
        print("biggest value is b:",b)
    else:
        print("biggest value is c:",c)
x=int(input())
y=int(input())
z=int(input())
biggest_three(x,y,z)

3
2
5
biggest value is c: 5

### without arguments and with return values..
    def function_name():
        statements
        return(output)

In [8]:
#to swap two numbers:
def swap():
    a=int(input("Enter a value : "))
    b=int(input("Enter b value : "))
    a,b=b,a
    return a,b
swap()

Enter a value : 4
Enter b value : 3

(3, 4)

### without arguments and without return values:

    def function_name():
        statements
        print(output)

In [10]:
# To print the factorial of a given number?

def factorial():
    n=int(input("Enter n value : "))
    f1=1
    for i in range(1,n+1):
        f1=f1*i
    print(f1)
factorial()

Enter n value : 5
120

### Arguments:
        -Three types of arguments:
            -1. Variable length arguments
            -2. keyword length arguments
            -3. default and non-default arguments
- 1. variable length arguments:
        - By using '*' symbol we can develop the variable length  arguments.
        - It return the data in the format tuple.

In [12]:
def hello(*a):
    print(a)
hello(10,30,48,45,'apssdc')

(10, 30, 48, 45, 'apssdc')

In [13]:
list=[10,20]
print(list)

[10, 20]

- keyword length arguments:
         - we can use '**' symbol to write the keyword arguments.

In [15]:
def sample(**k):
    print(k)
sample(name='Surya',rollno=370)

{'name': 'Surya', 'rollno': 370}

- default and non default arguments:

In [18]:
def example(b,a=10):
    return a,b
example(33)

(10, 33)

In [24]:
def sample(**k):
    print(k)
sample(name='krish',rollno=370)

{'name': 'krish', 'rollno': 370}