### Tuple:

    - It is a collection of different data items in a single variable.
    - By using round brakect we can write the tuple like this ().
    - It is imuutable(can't changable).
    - It is a collection which is ordered and unchangable.
    - It allows the Duplication of data.
    `

In [1]:
# to store the multiple elements in a single variable
t1=(12,24,'apssdc',45.0,12,24)
print(t1)
print(type(t1))

(12, 24, 'apssdc', 45.0, 12, 24)
<class 'tuple'>

In [2]:
# to store the single element in a tuple
t2=(100,)
print(t2)
print(type(t2))

(100,)
<class 'tuple'>

In [3]:
# to access the tuple using index position
print(t1)
print(len(t1))
print(t1[2])
print(t1[-1])
print(t1[::-1])

(12, 24, 'apssdc', 45.0, 12, 24)
6
apssdc
24
(24, 12, 45.0, 'apssdc', 24, 12)

In [4]:
# to update the tuple values

print(type(t1))
print(t1)

#t1[3]='python'
#print(t1)
t1=list(t1)
t1[3]='python'
print(t1)
print(type(t1))

<class 'tuple'>
(12, 24, 'apssdc', 45.0, 12, 24)
[12, 24, 'apssdc', 'python', 12, 24]
<class 'list'>

In [5]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [6]:
# To count the frequnecy of an element
t2=(10,20,30,'python','java',55.7,10,20,'python')
print(t2.count('python'))

2

In [7]:
# To get the index of an element
t2=(10,20,30,'python','java',55.7,10,20,'python')
print(t2.index('java'))

4

In [8]:

print(t2.index('python'))

3

In [9]:
ch=input("Enter element : ")
for i in range(0,len(t2)):
    if t2[i] == ch:
        print(ch," index is ",i)

Enter element : python
python  index is  3
python  index is  8

### Sets:

    - It is a collection of different data items in a single variable.
    - It is unordered and unindexed.
    - In python by using curly brackets {} we can write the sets.
    - Set will not allow the duplication of data.
    - In sets data can't be update but can add the new data.
    - It can't access the data from the sets.

In [10]:
# To create empty set.

s1=set()
print(type(s1))

<class 'set'>

In [11]:
# To store multiple elements in a set.

s1={10,20,30,40,50,60,11,24}
print(s1)
print(type(s1))

{40, 10, 11, 50, 20, 24, 60, 30}
<class 'set'>

In [12]:
print(s1)
for i in s1:
    print(i)

{40, 10, 11, 50, 20, 24, 60, 30}
40
10
11
50
20
24
60
30

In [13]:
# set methods

print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [14]:
# add() method -- to add the new element to the set.

s1={'python',10,20}
print(s1)
s1.add('apssdc')
print(s1)

{10, 'python', 20}
{10, 'python', 20, 'apssdc'}

In [15]:
#update()  -- we can add the multiple elements in a set

print(s1)
s1.update([34,67])
print(s1)

{10, 'python', 20, 'apssdc'}
{34, 67, 10, 'apssdc', 'python', 20}

In [18]:
#copy(): -- to copy the data from one set to another set.

print(s1)
s3=s1.copy()
print(s3)

{67, 200, 10, 'apssdc', 'python', 20}
{'apssdc', 67, 'python', 20, 200, 10}

In [16]:

s1=list(s1)
print(s1)
s1[0]=200
print(s1)
s1=set(s1)
print(s1)

[34, 67, 10, 'apssdc', 'python', 20]
[200, 67, 10, 'apssdc', 'python', 20]
{67, 200, 10, 'apssdc', 'python', 20}

In [19]:
#remove(): -- to remove the element from a set

print(s1)
s1.remove('apssdc')
print(s1)

{67, 200, 10, 'apssdc', 'python', 20}
{67, 200, 10, 'python', 20}

In [20]:
## discard(): -- it is similar to the remove method but it odesn't show any error message if the element is not present in the set.

print(s1)
s1.discard(20)
print(s1)

{67, 200, 10, 'python', 20}
{67, 200, 10, 'python'}

In [21]:
#pop(): -- deletion of first element

print(s1)
s1.pop()
print(s1)

{67, 200, 10, 'python'}
{200, 10, 'python'}

In [22]:
# clear(): -- to clear the set data.

print(s3)
s3.clear()
print(s3)

{'apssdc', 67, 'python', 20, 200, 10}
set()

In [23]:
#union(): -- to combine the sets.
#syntax :--  set3=set1.union(set2)

s1={1,2,3}
s2={'a','b','c'}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 'c', 'b', 'a'}

In [24]:
# intersection_update(): -- the items that are present both the sets.

x={'apple','banana','mango','orange'}
y={'red','green','yellow','orange'}
x.intersection_update(y)
print(x)

{'orange'}

In [26]:
# symmetric_difference_update(): -- the items which are not common on the sets.
x={'apple','banana','mango','orange'}
y={'red','green','yellow','orange'}
x.symmetric_difference_update(y)
print(x)

{'apple', 'banana', 'red', 'green', 'yellow', 'mango'}

In [28]:
# difference(): -- the items that only exist in set x, and not in set y

x={'apple','banana','mango','orange'}
y={'red','green','yellow','orange'}
z=x.difference(y)
print(z)

{'banana', 'apple', 'mango'}

In [30]:
# intersection():
# items that are present both sets
print(x,y)
r = x.intersection(y)
print(r)
print(x)

{'mango', 'apple', 'banana', 'orange'} {'yellow', 'green', 'red', 'orange'}
{'orange'}
{'mango', 'apple', 'banana', 'orange'}

In [32]:
# intersection_update():
print(x,y)
x.intersection_update(y)
print(x)

{'mango', 'apple', 'banana', 'orange'} {'yellow', 'green', 'red', 'orange'}
{'orange'}

In [34]:
x={'apple','banana','mango','orange'}
y={'red','green','yellow','orange'}
print(x&y)
print(x,y)
print(x|y)
print(x-y)

{'orange'}
{'mango', 'apple', 'banana', 'orange'} {'yellow', 'green', 'red', 'orange'}
{'apple', 'banana', 'orange', 'red', 'green', 'yellow', 'mango'}
{'banana', 'apple', 'mango'}